<div class="success-screen">
  <div class="success-icon">
    <img src="assets/icons/check-circle.svg" alt="check">
  </div>
  <h2 class="success-title">Ваши аватары сохранены</h2>
  <div class="gift-card">
    <div class="text-wrapper">
      <h3 class="gift-title">Вы получили подарок</h3>
      <h4 class="gift-name">METRA Basic на 7 дней</h4>
      <div class="checked-icon-list">
            <span>
              <img src="assets/icons/check-confirm.svg" alt="">
              <span>120 токенов в месяц</span>
            </span>
        <span>
              <img src="assets/icons/check-confirm.svg" alt="">
              <span>Доступ к сценам METRA</span>
            </span>
        <span>
              <img src="assets/icons/check-confirm.svg" alt="">
              <span>Доступ к Nano Banana</span>
            </span>
      </div>
    </div>
    <div class="btn">
      <app-button type="primary" icon="assets/icons/arrow-forward.svg" (click)="start.emit()">
        Начать использовать METRA
      </app-button>
    </div>
  </div>
</div>
