<div class="profile-screen">

  @if (isAvatarsLoading()) {
    <app-loading
      [texts]="['Загрузка...']">
    </app-loading>
  } @else {
    <div class="profile-content">
      <div class="profile-card">
        <h3 class="card-title">Ваш аватар</h3>
        <div class="avatar-circle">
          <div class="avatars-display">
            @for (avatar of displayAvatars; track $index) {
              <div class="{{ avatar.isEmpty ? 'add-avatar' : 'avatar-item' }} {{ selectedAvatar() === avatar.src ? 'selected' : '' }}"
                   (click)="avatar.isEmpty ? goToAddAvatar() : avatar.src && selectAvatar(avatar.src)">
                <img [src]="avatar.src || 'assets/icons/user-empty.svg'" alt="Avatar"/>
              </div>
            }
          </div>
        </div>

        @if (selectedAvatars().length < 3){
          <app-button
            type="primary"
            icon="assets/icons/add.svg"
            [disabled]="isAvatarsLoading() || selectedAvatars().length >= 3"
            (click)="goToAddAvatar()">
            Добавить аватар
          </app-button>
        }
      </div>

      <div class="profile-card">
        <h3 class="card-title">Баланс</h3>
        <p class="balance-text">{{ balance$ | async}} токенов</p>
        <app-button
          type="primary"
          icon="assets/icons/add.svg"
          (click)="goToReplenish()">
          Пополнить
        </app-button>
      </div>

      <div class="profile-card">
        <h3 class="card-title">Подписка</h3>
        @if (isSubscriptionLoading()) {
          <p class="subscription-text">Загрузка подписки...</p>
        } @else {
          @if (activeSubscription()) {
            <div class="sub-text">
              <p class="subscription-text">
                {{ activeSubscription()?.plan }}
                ({{ remainingDays() }}
                {{ remainingDays() === 1 ? 'день' : 'дней' }} осталось)
              </p>
              <span class="subscription-details">
          <p>{{ currentPlanDetails?.tokens }} токенов в месяц</p>
                @for (feature of currentPlanDetails?.features || []; track feature) {
                  <p>{{ feature }}</p>
                }
        </span>
            </div>
          } @else {
            <p class="subscription-text">
              У вас нет активной подписки
            </p>
          }
        }
        <app-button
          type="primary"
          icon="assets/icons/update.svg"
          (click)="goToSubscription()">
          {{ activeSubscription() ? 'Обновить' : 'Оформить' }}
        </app-button>
      </div>

      <div class="profile-card">
        <h3 class="card-title">Партнерская программа</h3>
        <p class="partnership-text"> {{ income$ | async }} {{ currency$ | async }}</p>

        <app-button
          type="primary"
          icon="assets/icons/arrow-forward.svg"
          (click)="goToAffiliateProgram()">
          Подробнее
        </app-button>
      </div>

      <div class="profile-card">
        <h3 class="card-title">Помощь</h3>
        <p class="any-questions">Есть вопросы?</p>
        <app-button
          type="primary"
          icon="assets/icons/contact-support.svg">
          Написать в техподдержку
        </app-button>
      </div>
    </div>
  }
</div>
