.create-detail {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 16px;
}

.text-ai-generation {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  label {
    font-size: 13px;
    font-family: system-ui;
    color: #A9B2C8;
  }
}

.textarea-wrapper {
  position: relative;
  width: 100%;
  max-width: 358px;
}

.text-ai-generation textarea {
  width: 100%;
  height: 120px;
  border-radius: 12px;
  padding: 15px 40px 15px 20px;
  border: 1px solid #FFFFFF33;
  background: #181826;
  box-shadow: 0 4px 6px 0 #000000;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  color: #E8EEFF;
  font-size: 15px;
  font-family: system-ui;
  letter-spacing: 0.5px;
  outline: none;
  resize: none;
  box-sizing: border-box;
}

.text-ai-generation textarea::placeholder {
  font-size: 15px;
  font-weight: 600;
  color: #7A859E;
}

.icon-wrapper {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  img {
    width: 20px;
    height: 20px;
    display: block;
    filter: brightness(0) invert(1);
  }
}

.spinner-promt {
  width: 15px;
  height: 15px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-top: 2px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}

.photo-upload-create-detail {
  display: flex;
  flex-direction: column;
}

.form-label-detail {
  font-size: 13px;
  font-family: system-ui;
  color: #A9B2C8;
}

.row-quality {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  border: 1px solid #FFFFFF33;
  border-radius: 12px;
  padding: 8px 20px;
  margin: 8px 0;
}

.upload-create-quality {
  display: flex;
  flex-direction: column;
}

.text-small {
  font-size: 15px;
  font-weight: 600;
}

.upload-formats-small {
  font-size: 10px;
  font-family: system-ui;
  color: #7A859E;
}

.upload-small {
  display: flex;
  justify-content: space-between;
}

.delete-photo-generation {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #ff4d4f;
  border: none;
  cursor: pointer;
  padding: 2px;
  left: 54px;
  margin-top: 3px;
}

.with-photo {
  width: 65px;
  height: 65px;
  border-radius: 12px;
}
