.create-idle {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 16px;
}

.idle-ai-generation-idle img {
  filter: brightness(0) invert(1);
}

.text-ai-generation-idle {

  img {
    position: relative;
    z-index: 1;
    top: 45px;
    left: 230px;

  }

  textarea {
    width: 100%;
    max-width: 316px;
    height: 88px;
    border-radius: 12px;
    padding: 15px 20px;
    border: 1px solid #FFFFFF33;
    background: #181826;
    box-shadow: 0 4px 4px 0 #000000;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    color: #E8EEFF;
    font-size: 15px;
    font-family: system-ui;
    margin-top: 8px;
  }

  textarea::placeholder {
    font-size: 15px;
    font-weight: 600;
    color: #7A859E;
  }

  textarea:focus {
    outline: none;
  }

  label {
    font-size: 13px;
    font-family: system-ui;
    color: #A9B2C8;
  }
}

.photo-upload-idle {
  display: flex;
  flex-direction: column;
}

.form-label-idle {
  font-size: 13px;
  font-family: system-ui;
  color: #A9B2C8;
}

.upload-row-quality-idle {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  border: 1px solid #FFFFFF33;
  border-radius: 12px;
  padding: 8px 20px;
  margin: 8px 0;
}

.upload-create-quality-idle {
  display: flex;
  flex-direction: column;
}

.upload-text-small-idle {
  font-size: 15px;
  font-weight: 600;
}

.upload-formats-idle {
  font-size: 10px;
  font-family: system-ui;
  color: #7A859E;
}

.upload-area-small-idle {
  display: flex;
  justify-content: space-between;
}

.delete-photo-generation-idle {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #f84b4d;
  border: none;
  cursor: pointer;
  padding: 2px 2px;
  left: 54px;
  margin-top: 3px;
}

.with-photo-idle {
  width: 65px;
  height: 65px;
  border-radius: 12px;
}
