.create-page {
  padding-bottom: 80px;
}

.header-card-detail {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 24px 16px;
  background: linear-gradient(180deg, rgba(10, 10, 20, 0.95) 0%, rgba(10, 10, 20, 0.1) 100%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 10;

  img {
    cursor: pointer;
  }

  p {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    margin: 0;
  }

  span {
    font-size: 14px;
    font-family: system-ui;
    color: #C5CCE0;
  }

}

.create-detail {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 16px;
}

.head-text {
  display: flex;
  flex-direction: column;
}

.text-ai-generation img {
  filter: brightness(0) invert(1);
}

.text-ai-generation {

  img {
    position: relative;
    z-index: 1;
    top: 45px;
    left: 230px;

  }

  textarea {
    width: 100%;
    max-width: 316px;
    height: 88px;
    border-radius: 12px;
    padding: 15px 20px;
    border: 1px solid #FFFFFF33;
    background: #181826;
    box-shadow: 0 4px 12px 0 #000000;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    color: #E8EEFF;
    font-size: 15px;
    font-family: system-ui;
    margin-top: 8px;
  }

  textarea::placeholder {
    font-size: 15px;
    font-weight: 600;
    color: #7A859E;
  }

  textarea:focus {
    outline: none;
  }

  label {
    font-size: 13px;
    font-family: system-ui;
    color: #A9B2C8;
  }

}

.photo-upload-detail {

  label {
    font-size: 13px;
    font-family: system-ui;
    color: #A9B2C8;
    margin-bottom: 8px;
  }
}

.upload-row-detail {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  border: 1px solid #FFFFFF33;
  border-radius: 12px;
  padding: 8px 20px;
  margin-top: 8px;
}

.upload-content-detail {
  display: flex;
  flex-direction: column;
}

.upload-text-detail {
  font-size: 15px;
  font-weight: 600;
}

.upload-formats-detail {
  font-size: 10px;
  font-family: system-ui;
  color: #7A859E;
}

.upload-area-detail {
  display: flex;
  justify-content: space-between;
}

.photo-generate {
  width: 65px;
  height: 65px;
  border-radius: 12px;
  margin-top: 8px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
}

.delete-photo-generation {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #ff4d4f;
  border: none;
  cursor: pointer;
  padding: 2px 2px;
  left: 54px;
  margin-top: 3px;
}

.create-of-detail {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  width: 356px;
  height: 222px;
  display: flex;
  border-radius: 12px;
  background: linear-gradient(104.04deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.2) 100%);
  box-shadow: 0 4px 6px 0 #000000;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  border: 1px solid rgba(255, 255, 255, 0.0588235294);
}

.result-detail {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;
}

.result-generate {
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  overflow: hidden;
  background: linear-gradient(104.04deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.2) 100%);
  box-shadow: 0 4px 6px 0 #000000;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  border: 1px solid rgba(255, 255, 255, 0.0588235294);
  padding: 16px;

  h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 2px;
  }

  span {
    font-size: 15px;
    font-family: system-ui;
    color: #C5CCE0;
  }
}

.image-generation {
  width: 100%;
  height: 326px;
  border-radius: 12px;
  border: 1px solid #FFFFFF33;
  margin: 16px 0;
}

.btn-detail {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.btn-detail app-button {
  flex: 1;
}

.last-generation-text {
  font-size: 20px;
  font-weight: 700;
  margin: 24px 0 16px 0;
}

.not-create-image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  span {
    font-size: 17px;
    font-weight: 500;
  }
}

.create-generate-detail {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 324px;
  height: 309px;
  border: 1px solid rgba(255, 255, 255, 0.0588235294);
  border-radius: 24px;
  overflow: hidden;
  background: linear-gradient(104.04deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.2) 100%);
  box-shadow: 0 4px 6px 0 #000000;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  padding: 16px;
  margin-bottom: 24px;
}

.left-text-detail {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 167px;
}

.photo-detail {
  width: 143px;
  height: 143px;
  border-radius: 12px;
  border: 1px solid #FFFFFF33;
}

.right-photo-detail {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.date-detail {
  display: flex;
  flex-direction: column;

  label {
    font-size: 13px;
    font-family: system-ui;
    color: #A9B2C8;
    margin-bottom: 2px;
  }

  span {
    font-size: 17px;
    font-weight: 600;
  }
}

.scenes-pro-detail {
  display: flex;
  flex-direction: column;

  label {
    font-size: 13px;
    font-family: system-ui;
    color: #A9B2C8;
    margin-bottom: 2px;
  }

  span {
    font-size: 17px;
    font-weight: 600;
  }
}

.prom-text {
  font-size: 13px;
  font-family: system-ui;
  color: #E8EEFF;
}

.lab-prom {
  font-size: 13px;
  font-family: system-ui;
  color: #A9B2C8;
  margin-bottom: 2px;
}

.date-detail-prom {
  display: flex;
  flex-direction: column;

}

.loading-screen {
  width: 100%;
  height: auto;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: white;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 4px solid rgba(181, 123, 255, .3);
  border-top-color: #b57bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.empty-content-detail {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.create-detail-content {
  padding: 0 16px;
}

app-loading {
  width: auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
