@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.loading-screen {
  width: 100%;
  @include fluid('min-height', 484px, 650px);
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: white;
}

.spinner {
  @include fluid('width', 48px, 64px);
  @include fluid('height', 48px, 64px);
  border: 4px solid rgba(181, 123, 255, 0.3);
  border-top-color: #b57bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

::ng-deep {
  .create-detail-wrapper app-loading .loading-screen {
    position: relative;
    @include fluid('min-height', 568px, 720px);
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: white;
    height: auto;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
