<div class="create-page">

  <div class="create-header-card">
    <img src="assets/icons/arrow-back.svg" alt="Назад" (click)="goBack()">
    <div class="head-text">
      <p>{{ card.title }}</p>
      <span>Генерация изображений по вашему описанию</span>
    </div>
  </div>

  <div class="create-detail-wrapper">
    @switch (createState) {

      @case ('idle') {
        <div class="create-detail">
          <div class="text-ai-generation">
            <label>Введите запрос</label>
            <img src="assets/icons/awesome.svg" alt="">
            <textarea
              #promptTextarea
              [(ngModel)]="prompt"
              placeholder="Опишите ваше изображение"
              rows="4">
        </textarea>
          </div>

          <div class="photo-upload-section">
            <label class="form-label-detail">Загрузите фото</label>

            <div class="upload-row-quality">
              <div class="upload-area-small" (click)="triggerFileInput('generate', $event)">
                <input #photoGenerate type="file" accept="image/jpeg,image/jpg,image/png,image/heic,image/webp"
                       (change)="onPhotoSelected($event, 'generate')" style="display: none;">

                <div class="upload-create-quality">
                  <span class="upload-text-small">Загрузить</span>
                  <span class="upload-formats">
                JPEG, JPG, PNG, HEIC, WEBP
              </span>
                </div>

                <img src="assets/icons/upload.svg" alt="Icon">
              </div>
            </div>

            @if (photos.generate) {
              <div class="photo-quality">
                <img class="with-photo" [src]="photos.generate" alt="Photo">

                <button class="delete-photo-generation" (click)="removePhoto('generate', $event)">
                  <img src="assets/icons/delete.svg" alt="">
                </button>
              </div>
            }
          </div>

          <div class="btn-quality">
            <app-button type="primary" icon="assets/icons/add.svg" (click)="createImage()"
                        [disabled]="!photos.generate">
              Создать изображение
            </app-button>
          </div>
        </div>
      }
      @case ('loading') {
        <div class="loading-screen">
          <div class="spinner"></div>
          <p>Создаём…</p>
        </div>
      }
      @case ('result') {
        <div class="result-detail">
          <div class="result-generate">
            <h1>Результат</h1>
            <span>
          {{ prompt }}
        </span>
            <div class="image-generation">
              <img [src]="resultImageUrl" alt="">
            </div>
            <div class="btn-detail">
              <app-button
                type="secondary"
                icon="assets/icons/download.svg"
                (click)="downloadResultFile(resultImageUrl!, 'image')">
                Скачать
              </app-button>
              <app-button
                type="secondary"
                icon="assets/icons/change.svg"
                (click)="editFile()">
                Изменить
              </app-button>
            </div>
          </div>

          <app-button type="primary" icon="assets/icons/add.svg">
            Создать ещё
          </app-button>
        </div>
      }
    }
  </div>

  <div class="create-detail-content">
    <h1 class="last-generation-text">Последние генерации</h1>

    @if (generationHistory.length < 1) {
      <div class="empty-content-detail">
        <div class="create-of-detail">
          <div class="no-create-image-wrapper">
            <div>
              <img src="assets/icons/error.svg" alt="">
            </div>
            <span>Вы ещё ничего не создали</span>
          </div>
        </div>
      </div>
    } @else {
      <div class="history-content-detail">
        @for (generation of generationHistory; track generation.id) {
          <div class="create-generate-detail">
            <div class="left-text-detail">
              <div class="date-detail">
                <label>Дата</label>
                <span>{{ generation.createdAt | date:'MM.dd.yyyy / HH:mm' }}</span>
              </div>

              <div class="scenes-pro-detail">
                <label>Сцены</label>
                <span>{{ generation.category }}</span>
              </div>

              <div class="date-detail-prom">
                <span class="lab-prom">Promt</span>
                <span class="create-prom-text">{{ generation.prompt }}</span>
              </div>
            </div>

            <div class="right-photo-detail">
              <div class="photo-detail"><img class="photo-history" [src]="generation.imageURL" alt=""></div>

              <app-button
                type="primary"
                icon="assets/icons/update.svg"
                (click)="repeatGeneration(generation)">
                Повторить
              </app-button>

              <app-button
                type="secondary"
                icon="assets/icons/download.svg"
                (click)="downloadFile(generation.imageURL, 'image')">
                Скачать
              </app-button>

              <app-button
                type="secondary"
                icon="assets/icons/photo-size.svg"
                (click)="goToUpscale(generation.imageURL)">
                Upscale
              </app-button>
            </div>
          </div>
        }
        <app-button type="secondary" (click)="navigateToHistory()">
          Открыть историю
        </app-button>
      </div>
    }
  </div>
</div>
