<nav class="bottom-nav">
  <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
    <div class="nav-icon">
      <img src="assets/icons/home.svg" alt="">
    </div>
    <span class="nav-label">Главная</span>
  </a>

  <a routerLink="/create" routerLinkActive="active">
    <div class="nav-icon">
      <img src="assets/icons/add.svg" alt="">
    </div>
    <span class="nav-label">Создать</span>
  </a>

  <a routerLink="/scenes" routerLinkActive="active">
    <div class="nav-icon">
     <img src="assets/icons/scenes.svg" alt="">
    </div>
    <span class="nav-label">Сцены</span>
  </a>

  <a routerLink="/history" routerLinkActive="active">
    <div class="nav-icon">
      <img src="assets/icons/history.svg" alt="">
    </div>
    <span class="nav-label">История</span>
  </a>

  <a routerLink="/profile" routerLinkActive="active">
    <div class="nav-icon">
      <img src="assets/icons/profile.svg" alt="">
    </div>
    <span class="nav-label">Профиль</span>
  </a>
</nav>
