@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

::ng-deep {
  .category app-scenes-card .header-card {
    display: none;
  }

  .category app-scenes-card .scenes {
    @include fluid('padding-top', 16px, 24px);
  }

  .category app-scenes-card .empty-blockd {
    @include fluid('min-height', 300px, 500px);
  }
}
