.loading-screen {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: white;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 4px solid rgba(181, 123, 255, .3);
  border-top-color: #b57bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  background-color: transparent;

}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
