@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.loading-screen {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: $z-modal;
  color: $color-white;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(181, 123, 255, .3);
  border-top-color: $color-primary-light;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  background-color: transparent;

}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
