@if (isLoading) {
  <app-loading
    [texts]="['Подготовка к оплате…']">
  </app-loading>
} @else {
  <div class="subscription-header">
    <div (click)="goBack()">
      <img src="assets/icons/arrow-back.svg" alt="">
    </div>
    <div class="subscription-balance">
      <span>Подписка METRA</span>
    </div>
  </div>
  <div class="subscription-content">
    @for (plan of plans; track plan.id) {
      <div [class]="plan.cardClass"
           [class.active-plan]="isCurrentPlan(plan)">
        @if (plan.isRecommended) {
          <div class="recommendation-icon">
            <img src="assets/icons/star-recommend.svg" alt="recommend">
            Рекомендуем
          </div>
        }
        <div class="text-card">
          <h2>{{ plan.title }}</h2>
          @if (isCurrentPlan(plan) && activeSubscription) {
            <div class="active-badge"
                 [ngClass]="getSubscriptionStatusClass()">
              Активна до {{ activeSubscription.endsAt | date:'dd MMMM yyyy' }}
            </div>
          }
          <p>Вы получаете:</p>
          <div [class]="plan.spanClass">
            @for (feature of plan.features; track feature) {
              <span>
                <img src="assets/icons/check-confirm.svg" alt="">
                {{ feature }}
              </span>
            }
          </div>
          <p>Пример использования:</p>
          <div [class]="plan.spanClass">
            @for (example of plan.examples; track example) {
              <span>
                <img src="assets/icons/awesome.svg" alt="">
                {{ example }}
              </span>
            }
          </div>
          <div [class]="'btn-card-' + plan.id">
            <app-button
              type="secondary">
              {{ plan.price }} руб
            </app-button>
            <app-button
              [type]="plan.buttonType"
              icon="assets/icons/arrow-forward.svg"
              [disabled]="isCurrentPlan(plan)"
              (click)="selectPlan(plan)">

              @if (isCurrentPlan(plan)) {
                Подписан
              } @else {
                Выбрать
              }
            </app-button>
          </div>
        </div>
      </div>
    }
  </div>
}
