@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.empty-page {
  display: flex;
  align-items: center;
  border-radius: $radius-xl;
  width: 100%;
  @include fluid('height', 200px, 250px);
  background: #181826;
  border: 1px dashed $glass-bg-soft;
  text-align: center;
  @include fluid('margin-top', 80px, 100px);
  opacity: 0.7;
}
