balance-content {
  width: 100%;
}
.funds-buttons {
  display: flex;
  padding: 15px 24px;
  border-radius: 16px;
  border: 1px solid #6A5CFF66;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, rgba(106, 92, 255, 0.6), rgba(168, 144, 255, 0.1));
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  margin: 16px;
}

.card {
  display: flex;
  gap: 16px;
}
.card p {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.card span {
  font-size: 15px;
  font-weight: 400;
  font-family: system-ui;
  color: #C5CCE0;
}
.card img {
  width: 20px;
  height: 20px;
}
.text-header-balance {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.token-text p {
  font-size: 17px;
  font-weight: 500;
  margin: 0;
  padding-bottom: 4px;
}
.token-text span {
  color: #A9B2C8;
  font-size: 13px;
  font-weight: 500;
}
.danger-buttons {
  display: flex;
  padding: 15px 24px;
  border-radius: 16px;
  border: 1px solid #FF4B5566;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  margin: 16px;
  background: linear-gradient(90deg, rgba(255, 75, 85, 0.6), rgba(255, 75, 85, 0.1));
}
.danger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 118px;
  height: 48px;
  border-radius: 12px;
  gap: 8px;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 0 0 1px rgba(0,0,0,0.2);
  background: linear-gradient(
    90deg,
    rgba(255, 75, 85, 0.4) 0%,
    rgba(255, 75, 85, 0.05) 100%
  )!important;
}

.price-text {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  background: #ffffff;
  color: #0f0f1e;
  padding: 3px 10px;
  font-size: 12px;
  border-bottom-left-radius: 12px;
  z-index: 1;
}
.price-text img {
  padding-right: 4px;
}
