<div class="card">
  <span (click)="goBack()">
    <img src="assets/icons/arrow-back.svg" alt="">
  </span>
  <div class="text-header-balance">
    <p>Токены METRA</p>
    <span>Используются для генерации фото, видео и сцен</span>
  </div>
</div>
<div class="btn-balance">
  @for (pkg of tokenPackages; track pkg.tokens) {
    <div [class]="pkg.tag === 'Популярно' ? 'danger-buttons' : 'funds-buttons'">
      @if (pkg.tag) {
        <div class="price-text">
          <img src="assets/icons/like.svg" alt="Tag">
          {{ pkg.tag }}
        </div>
      }
      <div class="token-text">
        <p>{{ pkg.tokens }} токенов</p>
        <span>{{ pkg.price }} руб</span>
      </div>
      <app-button
        [type]="pkg.tag === 'Популярно' ? 'danger' : 'primary'"
        icon="assets/icons/arrow-forward.svg"
        (click)="buyToken(pkg)">
        Купить
      </app-button>
    </div>
  }
</div>
