@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

balance-content {
  width: 100%;
}

.funds-buttons {
  display: flex;
  padding: 15px 24px;
  border-radius: $radius-lg;
  border: 1px solid #6A5CFF66;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, rgba(106, 92, 255, 0.6), rgba(168, 144, 255, 0.1));
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.btn-balance {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;
}

.card {
  display: flex;
  gap: 16px;
  padding: 24px 16px;
}

.card p {
  @include fluid-text(20px, 24px);
  font-weight: 700;
  margin: 0;
}

.card span {
  @include fluid-text(15px, 17px);
  font-weight: 400;
  font-family: system-ui;
  color: $color-text-secondary;
}

.card img {
  width: 20px;
  height: 20px;
}

.text-header-balance {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.token-text p {
  @include fluid-text(17px, 20px);
  font-weight: 500;
  margin: 0;
  padding-bottom: 4px;
}

.token-text span {
  color: $color-text-muted;
  @include fluid-text(13px, 15px);
  font-weight: 500;
}

.danger-buttons {
  display: flex;
  padding: 15px 24px;
  border-radius: $radius-lg;
  border: 1px solid #FF4B5566;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  background: linear-gradient(90deg, rgba(255, 75, 85, 0.6), rgba(255, 75, 85, 0.1));
}

.danger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 118px;
  height: 48px;
  border-radius: $radius-md;
  gap: 8px;
  @include fluid-text(15px, 17px);
  font-weight: 600;
  color: #ffffff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
      90deg,
      rgba(255, 75, 85, 0.4) 0%,
      rgba(255, 75, 85, 0.05) 100%
  ) !important;
}

.price-text {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  background: #ffffff;
  color: #0f0f1e;
  padding: 3px 10px;
  font-size: 12px;
  border-bottom-left-radius: $radius-md;
  z-index: 1;
}

.price-text img {
  padding-right: 4px;
}

::ng-deep {
  .loading-balance app-loading .loading-screen {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: white;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
