@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.scenes {
  padding: 0 16px 80px;
}

.card-header {
  position: sticky;
  top: 0;
  z-index: $z-tooltip;
}

.home-header {
  @include sticky-header;
  margin-bottom: 16px;
}

.header-card {
  @include flex-row(16px);
  padding: 24px 16px;
  background: $gradient-header;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  span {
    @include text(20px, $font-weight-bold);
  }
}

.scenes-image {
  display: flex;
  flex-direction: row-reverse;
  border-radius: $radius-xl;
  background: $glass-spiner;
  box-shadow: 0 4px 12px rgba(106, 92, 255, 0.5);
  padding: 8px 8px 8px 24px;
  justify-content: space-between;

  img {
    width: 120px;
    height: 120px;
    border-radius: $radius-lg;

    @media (min-width: 361px) {
      width: 155px;
      height: 155px;
    }
  }
}

.scenes-info {

  h3 {
    @include text(18px, $font-weight-bold);
    margin: 0;
    padding-top: 16px;

    @media (min-width: 361px) {
      @include text(20px, $font-weight-bold);
      padding-top: 24px;
    }
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    @include text(12px, $font-weight-regular);
    color: $color-white;
    font-family: "SF Pro Display", $font-system;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
    max-width: 140px;

    @media (min-width: 361px) {
      @include text(15px, $font-weight-regular);
    }
  }
}

.scenes-card-templates {
  @include flex-col(16px);
  align-items: center;
  padding: 16px;
  border-radius: $radius-lg;
  cursor: pointer;
  text-align: center;
  background: linear-gradient(90deg, rgba(106, 92, 255, 0.4), rgba(106, 92, 255, 0.05));
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  border: 1px solid rgba(106, 92, 255, 0.4);
  box-shadow: 0 4px 10px $color-black, inset 0 0 20px rgba(106, 92, 255, 0.25);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: scale(1.02);
  }
}

.circle-ava {
  @include flex-center;
  width: 92px;
  height: 92px;
  border: 2px solid $color-primary-light;
  border-radius: 50%;
  overflow: hidden;   // <-- ключевой момент
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.circle-ava-text {

  p {
    @include text(15px, $font-weight-semibold);
    margin: 0;
    padding-bottom: 4px;

    @media (min-width: 361px) {
      @include text(17px, $font-weight-semibold);
    }
  }

  span {
    @include text(13px, $font-weight-regular, $color-text-muted);
    @include text-clamp(2);
  }
}

.scenes-card-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding-bottom: 16px;
}

.empty-scenes {
  @include flex-col;
  align-items: center;
  justify-content: center;
  padding: 24px;
  width: 308px;
  height: 285px;
  border-radius: $radius-xl;
  border: 1px solid rgba(255, 255, 255, 0.2);

  img {
    width: 32px;
    height: 32px;
  }
}

.empty-title {
  @include text(16px, $font-weight-semibold);
  margin-bottom: 6px;
}

.empty-blockd {
  @include flex-col(12px);
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 458px;
  margin-top: 16px;
  border-radius: $radius-xl;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: $background-gradient;
  backdrop-filter: blur(40px);
  box-shadow: 0 4px 2px 0 $color-black;

  p {
    @include text(17px, $font-weight-semibold, $color-text-area);
    margin: 0;
  }
}
