<div class="card-quality">
  <span (click)="goBack()">
    <img src="assets/icons/arrow-back.svg" alt="">
  </span>
  <div class="text-header-history">
    <p>Повышение качества</p>
    <span>Улучшаем чёткость и детализацию изображения</span>
  </div>
</div>

<div class="quality-content">
  <div class="photo-upload-section">
    <label class="form-label-quality">Загрузите фото</label>
    <div class="upload-row-quality">
      <div class="upload-area-small" (click)="triggerFileInput('photo',$event)">
        <input
          #photoInput
          type="file"
          accept="image/jpeg,image/jpg,image/png,image/heic,image/webp"
          (change)="onPhotoSelected($event, 'photo')"
          style="display: none;">
        <div class="upload-content-quality">
          <span class="upload-text-small">Загрузить</span>
          <span class="upload-formats">JPEG, JPG, PNG, HEIC, WEBP</span>
        </div>
        <img src="assets/icons/upload.svg" alt="Icon">
      </div>
    </div>
    @if (photos.photo) {
      <div class="photo-quality">
        <img class="with-photo" [src]="photos.photo" alt="Photo">

        @if (photos.photo) {
          <button class="delete-photo" (click)="removePhoto('photo', $event)">
            <img src="assets/icons/delete.svg" alt="">
          </button>
        }
      </div>
    }
  </div>

  <div class="btn-quality">
    @if (!isLoading){
    <app-button
      type="primary"
      icon="assets/icons/photo-size.svg"
      (click)="enhanceImage()"
      [disabled]="!photos.photo || isProcessing ">
      Улучшить изображение
    </app-button>
    }
    @if (isLoading){
    <app-loading
      [texts]="['Улучшаем изображение…']">
    </app-loading>
    }
  </div>

  <div class="result-content">
    <h2 class="res-text">Результат</h2>

    <div class="before-photo">
      <div class="bf-text">До</div>
      @if (originalImage) {
        <img [src]="originalImage" class="result-img" alt="Before">
      } @else {
        <div class="center-text-quality">Ваше изображение</div>
      }
    </div>

    <div class="after-photo">
      <div class="aft-text">После</div>
      @if (improvedImage) {
        <img [src]="improvedImage" class="result-img" alt="After">
      } @else {
        <div class="center-text-quality">После улучшения</div>
      }
    </div>

    @if (originalImage) {
      <div class="result-actions">
        <app-button
          type="secondary"
          icon="assets/icons/download.svg"
          (click)="downloadImage()"
          [disabled]="!improvedImage">
          Скачать
        </app-button>

        <app-button
          type="primary"
          icon="assets/icons/update.svg"
          (click)="repeatImage()">
          Повторить
        </app-button>
      </div>
    }
  </div>
</div>
