<app-toast></app-toast>
@switch (currentStep) {
  @case ('splash') {
    <app-splash-case
      (create)="navigateToCreate()"
      (demo)="navigateToDemo()">
    </app-splash-case>
  }
  @case ('form') {
    <app-splash-form
      [myForm]="myForm"
      [gender]="gender"
      [photos]="photosPreview"
      (genderChange)="onGenderChange($event)"
      (photoUploaded)="onPhotoUploaded($event)"
      (photoRemoved)="onPhotoRemoved($event)"
      (triggerCreate)="createAvatar()">
    </app-splash-form>
  }
  @case ('loading') {
    <app-loading
      [texts]="['Создаём аватар…']">
    </app-loading>
  }
  @case ('select') {
    <app-splash-select
      [generatedAvatars]="generatedAvatars"
      [selectedAvatars]="selectedAvatars"
      (toggle)="toggleAvatar($event)"
      (confirm)="confirmAvatars()">
    </app-splash-select>
  }
  @case ('success') {
    <app-splash-success
      (start)="goToMetra()">
    </app-splash-success>
  }
}
