.content {
  max-width: 390px;
  margin: 0 auto;
  padding: 16px;
  position: relative;
  z-index: 1;
}

.splash-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-m {
  position: relative;
}

.brand-name {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
}

.features {
  text-align: center;
  font-size: 14px;
  opacity: .9;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 32px 0;

}

.feature-text {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 17px;
  margin: 0;
}

.feature-text-metra {
  font-size: 15px;
  margin: 32px 0;
}

.header {
  padding: 24px 16px 8px 16px;
  margin: 0;
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-label {
  font-size: 13px;
  color: #a9b2c8;
}

.form-input {
  width: 328px;
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 12px;
  padding: 14px;
  color: #7A859E;
  font-size: 15px;
  font-weight: 600;
}
.gender-buttons {
  position: relative;
  display: flex;
  background: #181826;
  border-radius: 8px;
  padding: 4px;
}

.gender-btn {
  flex: 1;
  background: none;
  border: none;
  color: #777;
  padding: 12px 0;
  z-index: 1;
}

.gender-btn.active {
  color: #fff;
}

.slider {
  position: absolute;
  inset: 2px;
  width: calc(50% - 4px);
  background: linear-gradient(90deg, #6a5cff, #a890ff);
  border-radius: 8px;
  transition: transform .3s;
}

.photo-load {
  display: flex;
  gap: 10px;
}

.upload-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.upload-area-small {
  padding: 6px 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  border: 1px solid #FFFFFF0F;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
}

.upload-text-small {
  font-size: 15px;
}

.upload-formats {
  font-size: 10px;
  opacity: .6;
  font-family: system-ui;
}

.upload-row {
  width: 252px;
  margin-top: 8px;
}

.upload-hint-small {
  margin: 8px 0 0 0;
  font-size: 12px;
  color: #7A859E;
}

.check-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}

.front-photo {
  width: 96px;
  height: 96px;
  border-radius: 12px;
  background: rgba(255, 255, 255, .1);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-photo {
  top: 5px;
  display: flex;
  position: relative;
  object-fit: cover;
}

.with-photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.delete-photo {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #ff4d4f;
  border: none;
  cursor: pointer;
  padding: 2px 1px 1px 1px;
}

.loading-screen {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: white;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 4px solid rgba(181, 123, 255, .3);
  border-top-color: #b57bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.select-screen {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 390px;
  margin: auto;
  padding: 16px;
}

.avatar-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
}

.avatar-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, .08);
  border-radius: 20px;
  padding: 12px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.avatar-image-wrapper {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid rgba(139, 92, 246, .3);
}

.avatar-image-wrapper img {
  width: 92px;
  height: 92px;
}

.avatar-card.selected .avatar-image-wrapper {
  border-color: #8b5cf6;
}

.btn-select {
  width: 139px;
  height: 48px;
  font-size: 15px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffffff;
}

.btn-select.selected {
  background: linear-gradient(90deg, #6A5CFF, #A890FF);
  color: #fff;
  border: none;
}

.subtitle {
  margin: 0;
}

.success-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 24px 16px;
  height: 100vh;
  box-sizing: border-box;
  gap: 16px;
}

.success-title {
  font-size: 20px;
  margin: 0 0 16px 0;
}

.gift-card {
  width: 324px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(135deg, #FFFFFF33, #FFFFFF0F);
  backdrop-filter: blur(40px);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 1);
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.gift-name {
  font-size: 17px;
  font-weight: 600;
  margin: 0;
}

.actions {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.success-icon img {
  width: 32px;
  height: 32px;
}

.gift-title {
  font-size: 15px;
  font-weight: 400;
  font-family: system-ui;
  margin: 0;
}

.checked-icon-list {
  font-size: 15px;
  font-family: system-ui;
  margin-top: 8px;
}

.checked-icon-list span {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 2px 0;
}

.btn {
  font-size: 15px;
}
.input-wrapper {
  border: 1px solid transparent;
  border-radius: 12px;
  backdrop-filter: blur(40px);
  transition: border-color 0.2s;
  margin-top: 8px;
}

.input-wrapper.invalid {
  border-color: #FF4B55;
}

.input-wrapper.valid {
  border-color: #2EC57A;
}

.form-input {
  outline: none;
  background: transparent;
  color: #ffffff;
  font-size: 15px;
}

.alert {
  color: #FF4B55;
  font-size: 12px;
  margin-top: 4px;
}
