.content {
  max-width: 390px;
  margin: 0 auto;
  padding: 16px;
  position: relative;
  z-index: 1;
}

/* =========================
   SPLASH SCREEN
========================= */

.splash-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-m {
  position: relative;
}

.brand-name {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
}

.features {
  text-align: center;
  font-size: 14px;
  opacity: .9;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 32px 0;

}
.feature-text {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 17px;
  margin: 0;
}
.feature-text-metra {
  font-size: 15px;
  margin: 32px 0;
}
/* =========================
   BUTTONS
========================= */

.btn-primary,

.btn-secondary {
  width: 100%;
  border-radius: 12px;
  padding: 14px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn-primary {
  margin-top: 24px;
  border: none;
  background: linear-gradient(90deg, #b57bff, #7b5cff);
  color: #fff;
}

.btn-primary:disabled {
  opacity: .5;
  cursor: not-allowed;
}

.btn-secondary {
  background: rgba(255,255,255,.08);
  border: 1px solid rgba(255,255,255,.2);
  color: #fff;
}

/* =========================
   FORM
========================= */

.header {
  margin-bottom: 16px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin: 8px 0;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-label {
  font-size: 13px;
  color: #a9b2c8
}
.form-group input{
  margin-top: 8px;
}
.form-input {
  width: 328px;
  background: #181826;
  border: 1px solid rgba(255,255,255,.1);
  border-radius: 12px;
  padding: 14px;
  color: #fff;
  font-size: 15px;
}

/* =========================
   GENDER SWITCH
========================= */

.gender-buttons {
  position: relative;
  display: flex;
  background: #181826;
  border-radius: 8px;
  padding: 2px;
}

.gender-btn {
  flex: 1;
  background: none;
  border: none;
  color: #777;
  padding: 12px 0;
  z-index: 1;
}

.gender-btn.active {
  color: #fff;
}

.slider {
  position: absolute;
  inset: 2px;
  width: calc(50% - 4px);
  background: linear-gradient(90deg, #6a5cff, #a890ff);
  border-radius: 8px;
  transition: transform .3s;
}

/* =========================
   PHOTO UPLOAD
========================= */

.photo-load {
  display: flex;
  gap: 10px;
}

.upload-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.upload-area-small {
  flex: 1;
  min-height: 48px;
  padding: 0 14px;
  background: rgba(255,255,255,.08);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.upload-text-small {
  font-size: 15px;
}

.upload-formats {
  font-size: 10px;
  font-weight: 400;
  opacity: .6;
}

.upload-row {
  width: 252px;
  margin-top: 8px;
}

.upload-hint-small {
  margin: 8px 0 0 0;
  font-size: 13px;
  font-weight: 400;
}
.check-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}
.front-photo {
  width: 96px;
  height: 96px;
  border-radius: 12px;
  background: rgba(255,255,255,.1);
  position: relative;
  overflow: hidden;
}

.front-photo img {
  object-fit: cover;
}

.delete-photo {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #ff4d4f;
  border: none;
  cursor: pointer;
  padding: 2px 1px 1px 1px;
}

/* =========================
   LOADING
========================= */

.loading-screen {
  position: fixed;
  inset: 0;
  /*background: #0a0a14;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: white;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 4px solid rgba(181,123,255,.3);
  border-top-color: #b57bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

/* =========================
   SELECT AVATAR
========================= */

.select-screen {
  max-width: 390px;
  margin: auto;
  padding: 16px;
}

.avatar-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
}

.avatar-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255,255,255,.08);
  border-radius: 20px;
  padding: 12px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.avatar-image-wrapper {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid rgba(139,92,246,.3);
}

.avatar-image-wrapper img{
  width: 92px;
  height: 92px;
}

.avatar-card.selected .avatar-image-wrapper {
  border-color: #8b5cf6;
}

.btn-select {
  width: 139px;
  height: 48px;
  font-size: 15px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-select.selected {
  background: linear-gradient(90deg, #6A5CFF, #A890FF);
  color: #fff;
  border: none;
}

/* =========================
   SUCCESS
========================= */
.subtitle {
  margin: 2px 0 24px 0;
}

.success-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 24px 16px;
  height: 100vh;
  box-sizing: border-box;
  gap: 16px;
}

.success-title {
  font-size: 20px;
  margin: 0 0 16px 0;
}

.gift-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.gift-name {
  font-size: 17px;
  font-weight: 600;
  margin: 0;
}
.actions {
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.success-icon img{
  width: 32px;
  height: 32px;
}
.gift-button{
  max-width: 326px;
  background: linear-gradient(90deg, #6A5CFF, #A890FF);
  color: #ffffff;
  font-size: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 600;
  gap: 8px;
}

.gift-title {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}
.checked-icon-list {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 16px;
}
.checked-icon-list span {
  display: flex;
  align-items: center; /* выравнивание текста с иконкой */
  gap: 8px;
  padding: 2px 0;
}
