<div class="affiliate-program-content">
  <div class="affiliate-program-header">
    <span (click)="goBack()">
      <img src="assets/icons/arrow-back.svg" alt="">
    </span>
    <div class="text-header-affiliate">
      <p>Партнёрская программа</p>
      <span>Получайте 25% дохода с оплат пользователей, которые приобрели подписку или пополнили баланс по вашей ссылке.</span>
    </div>
  </div>
  <div class="affiliate-link-content">
    <div class="your-link">
      <p>Ваша реферальная ссылка</p>
      <div class="copy-link-container">
        <input type="text" [value]="link" readonly>
        <span class="copy-icon"
            [class.active]="copied"
            (click)="copyLink()">
            <img src="assets/icons/copy.svg" alt="Copy">
        </span>
      </div>
      @if (copied){
      <div class="field-message success">
        Скопировано!
      </div>
      }
      <div class="balance-content">
        <div class="transitions">
          <p>Переходы:</p>
          <span>{{ clicks }}</span>
        </div>

        <div class="purchases">
          <p>Покупки:</p>
          <span>{{ purchases }}</span>
        </div>

        <div class="income">
          <p>Доход:</p>
          <span>{{ income }} {{ currency }}</span>
        </div>
      </div>
      <div class="button-affiliate">
        <app-button
          type="primary"
          icon="assets/icons/withdraw.svg"
          (click)="goToWithdraw()">
          Вывести
        </app-button>
      </div>
    </div>
  </div>
  <div class="button-invite">
    <app-button
      type="primary"
      icon="assets/icons/share.svg"
      (click)="shareReferralLink()">
      Пригласить друзей
    </app-button>
  </div>
</div>


