.affiliate-program-content {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 160px;
}
.affiliate-program-header {
  display: flex;
  margin: 8px 0;
  gap: 16px;
}
.affiliate-program-header p {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
.affiliate-program-header span {
  font-size: 15px;
  font-weight: 400;
  color: #C5CCE0;
  font-family: system-ui;
}
.affiliate-program-header img {
  width: 20px;
  height: 20px;
}
.text-header-affiliate {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.affiliate-link-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.your-link {
  width: 100%;
  max-width: 324px;
  border-radius: 24px;
  border: 1px solid #FFFFFF33;
  padding: 16px;
  background: linear-gradient(104.04deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.2) 100%);
  box-shadow: 0 4px 12px 0 #000000;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}
.your-link p {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  color: #A9B2C8;
}
.copy-link-container {
  display: flex;
  align-items: center;
  height: 34px;
  max-width: 300px;
  padding: 6px 12px;
  border-radius: 12px;
  border: 1px solid #FFFFFF33;
  margin: 8px 0 16px 0;
  background: linear-gradient(104.04deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.2) 100%);
}
.copy-link-container input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 14px;
  border-radius: 12px;
}

.balance-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.balance-content p {
  font-size: 13px;
  font-weight: 500;
  color: #A9B2C8;
  margin-bottom: 4px;
}
.balance-content span {
  font-size: 17px;
  font-weight: 600;
}
.button-affiliate {
  margin-top: 16px;
}

