.affiliate-program-content {
  display: flex;
  flex-direction: column;
}

.affiliate-program-header {
  display: flex;
  padding: 24px 16px;
  gap: 16px;
}

.affiliate-program-header p {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.affiliate-program-header span {
  font-size: 15px;
  font-weight: 400;
  color: #C5CCE0;
  font-family: system-ui;
}

.affiliate-program-header img {
  width: 20px;
  height: 20px;
}

.text-header-affiliate {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.affiliate-link-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  min-height: 508px;
}
.button-invite{
  padding: 0 16px;
}
.your-link {
  width: 100%;
  max-width: 324px;
  border-radius: 24px;
  border: 1px solid #FFFFFF33;
  padding: 16px;
  background: linear-gradient(104.04deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.2) 100%);
  box-shadow: 0 4px 12px 0 #000000;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}

.your-link p {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  color: #A9B2C8;
  font-family: system-ui;
}

.copy-link-container {
  padding: 12px 20px;
  border-radius: 12px;
  border: 1px solid #FFFFFF33;
  margin: 8px 0 16px 0;
  background: linear-gradient(104.04deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.2) 100%);
  transition: 0.5s;
}
.copied-text {
  font-size: 12px;
  color: #E8EEFF;
}

.copy-link-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

input.success {
  border: 1px solid #E8EEFF;
}

.field-message {
  float: right;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 12px;
  opacity: 0;
  animation: slideFade 5.5s ease forwards;

  &.success {
    color: #E8EEFF;
  }
}

@keyframes slideFade {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
  }
}

.copy-link-container input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 15px;
  border-radius: 12px;
  font-weight: 600;
  font-family: system-ui;
  color: #E8EEFF;
}

.copy-icon {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition:
    transform 0.18s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.18s ease;

  img {
    width: 20px;
    height: 20px;
    pointer-events: none;
  }

  &:hover {
    transform: scale(1.08);
  }

  &:active {
    transform: scale(0.92);
  }

  &.active {
    transform: scale(1.15);
    opacity: 0.75;
  }
}

.copy-icon img {
  transform: scale(1.02);
}

.balance-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.balance-content p {
  font-size: 13px;
  font-weight: 500;
  color: #A9B2C8;
  margin-bottom: 4px;
  font-family: system-ui;
}

.balance-content span {
  font-size: 17px;
  font-weight: 600;
}

.button-affiliate {
  margin-top: 16px;
}

