<div class="create-detail-content">
  <h1 class="last-generation-text">Последние генерации</h1>

  @if (history.length < 1) {
    <div class="empty-content-detail">
      <div class="create-of-detail">
        <div class="no-create-image-wrapper">
          <div>
            <img src="assets/icons/error.svg" alt="">
          </div>
          <span>Вы ещё ничего не создали</span>
        </div>
      </div>
    </div>
  } @else {
    <div class="history-content-detail">
      @for (generation of history; track generation.id) {
        <div class="create-generate-detail">
          <div class="left-text-detail">
            <div class="date-detail">
              <label>Дата</label>
              <span>{{ generation.createdAt | date:'MM.dd.yyyy / HH:mm' }}</span>
            </div>

            <div class="scenes-pro-detail">
              <label>Сцены</label>
              <span>{{ generation.category }}</span>
            </div>

            <div class="date-detail-prom">
              <span class="lab-prom">Promt</span>
              <span class="create-prom-text">{{ generation.prompt }}</span>
            </div>
          </div>

          <div class="right-photo-detail">
            <div class="photo-detail"><img class="photo-history" [src]="generation.imageURL" alt=""></div>

            <app-button
              type="primary"
              icon="assets/icons/update.svg"
              (click)="repeatGeneration(generation)">
              Повторить
            </app-button>

            <app-button
              type="secondary"
              icon="assets/icons/download.svg"
              (click)="downloadFile(generation.imageURL, 'image')">
              Скачать
            </app-button>

            <app-button
              type="secondary"
              icon="assets/icons/photo-size.svg"
              (click)="goToUpscale(generation.imageURL)">
              Upscale
            </app-button>
          </div>
        </div>
      }
      <app-button type="secondary" (click)="navigateToHistory()">
        Открыть историю
      </app-button>
    </div>
  }
</div>
