<div class="generation-create-content">
  <h1 class="generation-text">Последние генерации</h1>

  @if (history.length < 1) {
    <div class="empty-content-generation">
      <div class="create-of-generation">
        <div class="no-create-image-generation">
          <div>
            <img src="assets/icons/error.svg" alt="">
          </div>
          <span>Вы ещё ничего не создали</span>
        </div>
      </div>
    </div>
  } @else {
    <div class="history-content-detail">
      @for (generation of history; track generation.id) {
        <div class="create-generate">
          <div class="left-text-generation">
            <div class="date-generation">
              <label>Дата</label>
              <span>{{ generation.createdAt | date:'MM.dd.yyyy / HH:mm' }}</span>
            </div>

            <div class="scenes-pro">
              <label>Сцены</label>
              <span>{{ generation.category }}</span>
            </div>

            <div class="date-promt">
              <span class="promt-generation">Promt</span>
              <span class="promt-text-generation">{{ generation.prompt }}</span>
            </div>
          </div>

          <div class="right-photo">
            <div class="photo-detail-generation">
              <img class="photo-history-generation"
                  [src]="generation.imageURL" alt="">
            </div>

            <app-button
              type="primary"
              icon="assets/icons/update.svg"
              (click)="repeatGeneration(generation)">
              Повторить
            </app-button>

            <app-button
              type="secondary"
              icon="assets/icons/download.svg"
              (click)="downloadFile(generation.imageURL, 'image')">
              Скачать
            </app-button>

            <app-button
              type="secondary"
              icon="assets/icons/photo-size.svg"
              (click)="goToUpscale(generation.imageURL)">
              Upscale
            </app-button>
          </div>
        </div>
      }
      <app-button type="secondary" (click)="navigateToHistory()">
        Открыть историю
      </app-button>
    </div>
  }
</div>
