.create-of-generation {
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 222px;
  display: flex;
  border-radius: 12px;
  background: linear-gradient(104.04deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.2) 100%);
  box-shadow: 0 4px 4px 0 #000000;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  border: 1px solid rgba(255, 255, 255, 0.0588235294);
}

.no-create-image-generation {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.photo-history-generation {
  width: 143px;
  height: 143px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

.generation-text {
  font-size: 20px;
  font-weight: 700;
  margin: 24px 0 16px 0;
}

.create-generate {
  display: flex;
  flex-direction: row;
  gap: 16px;
  border: 1px solid rgba(255, 255, 255, 0.0588235294);
  border-radius: 24px;
  background: linear-gradient(104.04deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.2) 100%);
  box-shadow: 0 4px 5px 0 #000000;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  padding: 16px;
  margin: 16px 0;
}

.left-text-generation {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 167px;
}

.photo-detail-generation {
  width: 141px;
  height: 141px;
  border-radius: 12px;
  border: 1px solid #FFFFFF33;
  overflow: hidden;
}

.right-photo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.date-generation {
  display: flex;
  flex-direction: column;

  label {
    font-size: 13px;
    font-family: system-ui;
    color: #A9B2C8;
    margin-bottom: 2px;
  }

  span {
    font-size: 17px;
    font-weight: 600;
  }
}

.scenes-pro {
  display: flex;
  flex-direction: column;

  label {
    font-size: 13px;
    font-family: system-ui;
    color: #A9B2C8;
    margin-bottom: 2px;
  }

  span {
    font-size: 17px;
    font-weight: 600;
  }
}

.promt-text-generation {
  font-size: 13px;
  color: #E8EEFF;
  flex: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-break: break-word;
}

.promt-generation {
  font-size: 13px;
  font-family: system-ui;
  color: #A9B2C8;
  margin-bottom: 2px;
}

.date-promt {
  display: flex;
  flex-direction: column;
}

.empty-content-generation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.generation-create-content {
  padding: 0 16px;
}

