@switch (currentStep) {

  @case ('form') {
    <div class="add-avatar">
      <div class="header">
        <h1 class="title" (click)="goBack()">
          <img src="assets/icons/arrow-back.svg" alt="">
          Добавить аватар
        </h1>
      </div>

      <app-splash-form
        [myForm]="myForm"
        [gender]="gender"
        [photos]="photosPreview"
        (genderChange)="onGenderChange($event)"
        (photoUploaded)="onPhotoUploaded($event)"
        (photoRemoved)="onPhotoRemoved($event)"
        (triggerCreate)="createAvatar()">
      </app-splash-form>
    </div>
  }
  @case ('loading') {
    <app-loading
      [texts]="['Создаём аватар…']">
    </app-loading>
  }
  @case ('select') {
    <app-splash-select
      [generatedAvatars]="generatedAvatars"
      [selectedAvatars]="selectedAvatars"
      (toggle)="toggleAvatar($event)"
      (confirm)="confirmAvatars()">
    </app-splash-select>
  }
  @case ('success') {
    <app-splash-success
      (start)="goProfile()">
    </app-splash-success>
  }
}
@if (showPaidDialog) {
  <app-paid-dialog></app-paid-dialog>
}

