.add-avatar-content {
  max-width: 390px;
  margin: 0 auto;
  padding: 16px;
  position: relative;
  z-index: 1;

  .header {
    margin-bottom: 16px;
  }

  .title {
    display: flex;
    gap: 16px;
    font-size: 20px;
    font-weight: 700;
    margin: 8px 0;
  }

  .form-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .form-label {
    font-size: 13px;
    color: #a9b2c8;
  }

  .form-input-add-avatar {
    width: 326px;
    background: #181826;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 14px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    outline: none;
    font-family: system-ui;
  }
}

.gender-buttons {
  position: relative;
  display: flex;
  background: #181826;
  border-radius: 12px;
  padding: 4px;
  border: 1px solid #FFFFFF0F;
  margin-top: 8px;

  .gender-btn {
    flex: 1;
    background: none;
    border: none;
    color: #777;
    padding: 12px 0;
    z-index: 1;
    cursor: pointer;

    &.active {
      color: #fff;
    }
  }

  .slider {
    position: absolute;
    inset: 4px;
    width: calc(50% - 4px);
    background: linear-gradient(90deg, #6a5cff, #a890ff);
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
}

.photo-load {
  display: flex;
  gap: 10px;
  align-items: center;
}

.upload {
  &-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &-area-small {
    display: flex;
    padding: 6px 20px;
    border-radius: 12px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border: 1px solid rgba(255, 255, 255, 0.0588235294);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
  }

  &-text-small {
    font-size: 15px;
  }

  &-formats {
    font-size: 10px;
    opacity: 0.6;
    font-family: system-ui;
  }

  &-row {
    width: 252px;
    margin-top: 8px;
  }

  &-hint-small {
    margin: 8px 0 0 0;
    font-size: 12px;
    font-weight: 400;
    color: #7A859E;
  }
}

.front-photo-ava {
  width: 96px;
  height: 96px;
  border-radius: 12px;
  background: rgba(255, 255, 255, .1);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-photo-ava {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #ff4d4f;
  border: none;
  cursor: pointer;
  padding: 2px;
  position: absolute;
  top: 4px;
  right: 4px;
}

.loading-screen {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: #fff;

  .spinner {
    width: 48px;
    height: 48px;
    border: 4px solid rgba(181, 123, 255, 0.3);
    border-top-color: #b57bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.select-screen {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: auto;
  padding: 16px;
}

.avatar {
  &-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
  }

  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    padding: 16px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    gap: 16px;

    &.selected {
      .avatar-image-wrapper {
        border-color: #8b5cf6;
      }
    }
  }

  &-image-wrapper {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid rgba(139, 92, 246, 0.3);

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.success {
  &-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 24px 16px;
    height: 100vh;
    gap: 16px;
  }

  &-title {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 16px;
  }

  &-text {
    font-size: 20px;
    font-weight: 700;
  }

  &-badge {
    display: flex;
    gap: 16px;
    padding-top: 8px;
    align-items: flex-start
  }

  &-icon img {
    width: 32px;
    height: 32px;
  }
}

.subtitle {
  font-size: 15px;
  margin-top: 2px;
  font-family: system-ui;
}

.gift-card {
  width: 324px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.with-photo-ava {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.empty-photo-ava {
  position: relative;
  top: 5px;
  display: flex;
}

.avatar-wrapper {
  width: 100%;
  border-radius: 20px;
}

.input-wrapper {
  border: 1px solid transparent;
  border-radius: 12px;
  backdrop-filter: blur(40px);
  transition: border-color 0.2s;
  margin-top: 8px;
}

.input-wrapper.invalid {
  border-color: #FF4B55;
  background: #0B0D11;
}

.input-wrapper.valid {
  border-color: #2EC57A;
  background: #0B0D11;
}


.alert {
  color: #FF4B55;
  font-size: 12px;
  margin-top: 4px;
}
