@mixin glass-bg($radius: 12px, $blur: 40px) {
  background: linear-gradient(104.04deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.2) 100%);
  border-radius: $radius;
  border: 1px solid rgba(255, 255, 255, 0.06);
  box-shadow: 0 4px 6px 0 #000000;
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
}

@mixin label-style {
  font-size: 13px;
  font-family: system-ui;
  color: #A9B2C8;
}

@mixin value-style($size: 17px, $weight: 600) {
  font-size: $size;
  font-weight: $weight;
}

.history-container {
  display: flex;
  flex-direction: column;
  padding: 0 16px 16px;
}

.filter-buttons {
  position: relative;
  display: flex;
  padding: 4px;
  border: 1px solid #FFFFFF33;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  height: 40px;
}

.slider {
  width: 116px;
  height: 40px;
  position: absolute;
  background: linear-gradient(90deg, #6a5cff, #a890ff);
  border-radius: 8px;
  transition: transform .3s;
}

.filter-btn {
  flex: 1;
  background: none;
  border: none;
  color: #777;
  padding: 12px 0;
  z-index: 1;

  &.active {
    color: #fff;
  }
}

.create-of-history {
  @include glass-bg(12px, 40px);
  min-height: 506px;
  margin: 16px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.no-create-image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  span {
    font-size: 17px;
    font-weight: 500;
  }
}

.history-content-detail {
  padding-bottom: 50px;
}

.history-generate-detail,
.create-generate-detail {
  @include glass-bg(24px, 40px);
  display: flex;
  gap: 16px;
  padding: 16px;
  margin: 16px 0;
}

.left-text-detail {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 167px;
}

.date-detail,
.scenes-pro-detail,
.date-detail-prom {
  display: flex;
  flex-direction: column;

  label,
  .lab-prom {
    @include label-style;
    margin-bottom: 2px;
  }

  span {
    color: #E8EEFF;
    @include value-style(17px, 600);
  }
}

.prom-text {
  font-size: 13px;
  font-weight: 400;
  color: #E8EEFF;
  flex: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-break: break-word;
  white-space: normal;
}


.right-photo-detail {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.photo-detail {
  width: 143px;
  height: 143px;
  border-radius: 12px;
  border: 1px solid #FFFFFF33;
  overflow: hidden;
}

.photo-history {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

.btn-detail {
  display: flex;
  gap: 8px;

  app-button {
    flex: 1;
  }
}
