@use '../../../../../styles/variables' as *;
@use '../../../../../styles/mixins' as *;

.result-detail {
  display: flex;
  flex-direction: column;
  @include fluid-gap(16px, 24px);
  @include fluid('padding-left', 16px, 40px);
  @include fluid('padding-right', 16px, 40px);
}

.result-generate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: $radius-xl;
  overflow: hidden;
  background: linear-gradient(104.04deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.2) 100%);
  box-shadow: 0 4px 6px 0 #000000;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  border: 1px solid rgba(255, 255, 255, 0.0588235294);
  @include fluid('padding', 16px, 24px);

  h1 {
    @include fluid-text(20px, 28px);
    font-weight: 700;
    margin: 0;
    padding-bottom: 2px;
  }

  span {
    @include fluid-text(15px, 19px);
    font-family: system-ui;
    color: $color-text-secondary;
  }
}

.image-generation {
  display: flex;
  justify-content: center;
  align-items: center;
  @include fluid('margin-top', 16px, 24px);
  @include fluid('margin-bottom', 16px, 24px);
}

.image-generation img {
  @include fluid('width', 324px, 480px);
  @include fluid('height', 324px, 480px);
  overflow: hidden;
  border-radius: $radius-md;
  object-fit: cover;
  object-position: center;
}

.btn-detail {
  display: flex;
  flex-direction: row;
  @include fluid-gap(8px, 16px);
}

.btn-detail app-button {
  flex: 1;
}
