.result-detail {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;
}

.result-generate {
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  overflow: hidden;
  background: linear-gradient(104.04deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.2) 100%);
  box-shadow: 0 4px 6px 0 #000000;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  border: 1px solid rgba(255, 255, 255, 0.0588235294);
  padding: 16px;

  h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 2px;
  }

  span {
    font-size: 15px;
    font-family: system-ui;
    color: #C5CCE0;
  }
}

.image-generation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}

.image-generation img {
  width: 324px;
  height: 324px;
  overflow: hidden;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
}

.btn-detail {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.btn-detail app-button {
  flex: 1;
}
