@use 'styles/variables' as *;
@use 'styles/mixins' as *;
@use 'styles/utilities' as *;

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url('/assets/images/bg.png') no-repeat fixed center;
}

body {
  min-height: 100%;
  margin: 0;
  background: transparent;
  position: relative;
  font-family: 'SF Pro Display', system-ui !important;
  color: #ffffff;
}

app-root {
  display: block;
  max-width: 390px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}

@media (max-width: 390px) {
  app-root {
    max-width: 100%;
  }
}


