@use 'styles/variables' as *;
@use 'styles/mixins' as *;

* {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url('/assets/images/bg.png') repeat fixed center;
  @include fluid-text(14px, 18px);
}

body {
  min-height: 100%;
  margin: 0;
  background: transparent;
  position: relative;
  font-family: 'SF Pro Display', system-ui !important;
  color: $color-white;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/assets/images/bg.png') repeat center center;
  background-size: cover;
  z-index: $z-negative;
}

app-root {
  display: block;
  width: 100%;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
}

input {
  background-color: $color-bg-main;
  color: $color-white;
  font-size: 1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px $color-bg-main inset !important;
  -webkit-text-fill-color: $color-white !important;
  caret-color: $color-white;
  transition: background-color 9999s ease-in-out 0s;
}
