@use 'styles/variables' as *;
@use 'styles/mixins' as *;
@use 'styles/utilities' as *;

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url('/assets/images/bg.png') repeat fixed center;
  font-size: 14px; // базовый размер для маленьких экранов
}

body {
  min-height: 100%;
  margin: 0;
  background: transparent;
  position: relative;
  font-family: 'SF Pro Display', system-ui !important;
  color: #ffffff;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/assets/images/bg.png') repeat center center;
  background-size: cover;
  z-index: -1;
}

app-root {
  display: block;
  width: 100%;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  //padding: 0 8px;
}

input {
  background-color: #181826;
  color: #fff;
  font-size: 1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #181826 inset !important;
  -webkit-text-fill-color: #fff !important;
  caret-color: #fff;
  transition: background-color 9999s ease-in-out 0s;
}

/* Стили для телефонов от 400px до 767px */
@media (min-width: 400px) and (max-width: 767px) {
  html {
    font-size: 15px;
  }
  app-root {
    //padding: 0 12px;
  }
}

/* Стили для планшетов от 768px до 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 16px;
  }
  app-root {
    //max-width: 720px;
    //padding: 0 20px;
  }
}

/* Стили для ноутбуков и больших экранов от 1025px до 1440px */
@media (min-width: 1025px) and (max-width: 1440px) {
  html {
    font-size: 17px;
  }
  app-root {
    max-width: 1200px;
    padding: 0 30px;
  }
}

/* Стили для экранов больше 1440px */
@media (min-width: 1441px) {
  html {
    font-size: 18px;
  }
  app-root {
    max-width: 1400px;
    padding: 0 40px;
  }
}
