@use 'styles/variables' as *;
@use 'styles/mixins' as *;

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url('/assets/images/bg.png') repeat fixed center;
  @include fluid-text(14px, 18px);
}

body {
  min-height: 100%;
  margin: 0;
  background: transparent;
  position: relative;
  font-family: 'SF Pro Display', system-ui !important;
  color: #ffffff;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/assets/images/bg.png') repeat center center;
  background-size: cover;
  z-index: -1;
}

app-root {
  display: block;
  width: 100%;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
}

input {
  background-color: #181826;
  color: #fff;
  font-size: 1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #181826 inset !important;
  -webkit-text-fill-color: #fff !important;
  caret-color: #fff;
  transition: background-color 9999s ease-in-out 0s;
}
